.tmp/
.sass-cache/
**/*.log

app/bower_components/
app/scripts/config.js
app/scripts/core/env.constant.js
app/styles/main.css
app/styles/main.css.map
app/build
coverage/
dist/
node_modules/
platforms/
reports/
www/

# WebStorm
.idea/

# Sublime
*.sublime-workspace

tags
