*/node_modules/

backend/coverage/
backend/report/
backend/*.log
backend/*.log.*
backend/.tags*
backend/tags
backend/csv/*.txt

frontend/.tmp/
frontend/.sass-cache/
frontend/**/*.log
frontend/app/bower_components/
frontend/app/scripts/config.js
frontend/app/scripts/core/env.constant.js
frontend/app/styles/main.css
frontend/app/styles/main.css.map
frontend/app/build
frontend/coverage/
frontend/dist/
frontend/platforms/
frontend/reports/
frontend/www/
frontend/tags

# MacOS
*.DS_Store/
